player-connection-mode=Listen
player-connection-guid=1061590994
player-connection-debug=1
player-connection-wait-timeout=-1
player-connection-ip=192.168.6.1
player-connection-ip=192.168.73.1
player-connection-ip=192.168.56.1
player-connection-ip=192.168.0.23
wait-for-native-debugger=0
wait-for-managed-debugger=0
